<!-- templates/event_choice_list.html -->
{% extends 'base.html' %}
{% block title %}
	Seznam daných typů událostí
{% endblock %}
{% block content %}
  	<div class='container'>
      <!-- menu -->
      <div class='jumbotron'>
        <div class='row'>
          <div class="col text-center">
            <h3> Rodinný kalendář </h3>
            <br>
            {% if user.is_authenticated %}
              <a class="btn btn-dark" href="{% url 'logout' %}">Odhlásit</a></p> 
            {% endif %}
              <a class="btn btn-dark btn-lg" href="{% url 'cal:calendar' %}"> Zpět na kalendář </a>
            <br><br>
          </div>
       </div>
    </div>
  <br>
  <!-- list of events ordered by time -->
  
  <b>Nejbližší události 60 následujících dní:</b>
  <br><br>

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col"> Název </th>
        <th scope="col"> Kategorie </th>
        <th scope="col"> Od </th>
        <th scope="col"> Do </th>
      </tr>
    </thead>
    <tbody>
      {% for i in coming_events %}	
        <tr>
          <td> {{ i.title }} </td> 
          <td> <div class="{{i.fetch_class}}"> {{ i.type_of_events }} </div> </td> 
          <td> {{ i.start_time }} </td> 
          <td scope="row"> {{ i.end_time }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>  
{% endblock %}